@import '../../styles/colors.scss';
@import '../../styles/mixins';

body{
    font-family: arial;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}
.app__name {
    @include card-shadow;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: .5rem;

    & a {
        align-items: center;
        color:$base-color;
        display: flex;
        text-decoration: none;
    }
}

