@import '../../styles/mixins';
@import '../../styles/colors';

.podcastDetailEpisodes {
    width: 70%;

    &__header {
        @include card-shadow;
        align-items: center;
        color: $title-color;
        display: flex;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1em;
        padding: .33em 1.5em;
    }

    &__list {
        @include card-shadow;
        padding: 2em 1.2em;

        & table {
            table-layout: fixed;
            width: 100%;
        }
    }

    &__label {
        font-weight: bold;
        text-align: left;
        
        &:first-child {
            width: 75%;
        }
    }

    &__item {
        border-bottom: 1px solid rgba(0,0,0,5%);
        height: 2.5em;

        &:nth-child(even) {background: #fff}
        &:nth-child(odd) {background: rgb(0, 0, 0, 5%)}
        
        & td {
            border-top: 1px solid rgba(0,0,0,10%);
        }
        
        & td:first-child {
            border-left: 0;
        }
        
        & td:last-child {
            border-right: 0;
        }

        &__link {
            color: $base-color;
            text-decoration: none;
        }

        &__data {
            border-bottom: 1px solid rgba(0,0,0,5%);
        }

        &__title {
            padding-left: .5em;
            width: 72%;
        }
    }
}